@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Courgette);
/* Inserta tu codigo aqui */
body{
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Courgette', cursive;*/
	font-size: 12px;
	background: #2D2735;
	color:white;
}
h1,h2{
	font-family: 'Courgette', cursive;
	color:#F9B96C;
}

header{
	position: fixed;
	width: 100%;
}

header,footer{
	background: #1C1821;
}
header img{
	height: 70px;
}

.menu{
		list-style: none;
		line-height: 42px;
		/*outline: 1px solid red;*/
		padding-top: 10px;
		font-style: italic;
		font-weight: 600;
		font-size: 0.8rem;
}
.menu li{
	display: inline-block;
	
}
.menu li:hover{
	box-shadow: 0 3px yellow;

}
.menu a{
	color:#ddd;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 10px 10px;
	width: 100%;
}
.menu a:hover{
	box-shadow: 0 -60px rgba(107, 69, 143,0.7) inset;
	transition: all .6s;
	margin-bottom: 5px;
	padding-bottom: 5px;
}
.menu-fixed {
	outline: 1px solid yellow;
}


/*banner*/
.fondo{
	background: url(../image/header-image.jpg)no-repeat;
	background-size: cover;
	
	
}
.fondo h1{
	font-size: 4rem;
	font-weight: 600;
}
.fmorado{
	background-color: #1C1821;
	width: 66%;
	padding: 5% 6% 3%;
	margin:9% 17%;
}
.fmorado ul{
	color:white;
	font-style: italic;
	list-style-type: none;
	font-size: 0.8rem;
}
.fmorado ul li{
	display: inline-block;
	padding:5px 10px;
}
/*galeria*/
#slide{
	margin-top: 2%;
	font-style: italic;
}
#slide article{
	background-color: #1C1821;
	padding-bottom: 8%;
	
}
#slide .img{
	overflow: hidden;
}
#slide article h2{
	padding:3% 0%;
	font-size: 0.9rem;
	font-style: normal;
}

#slide article img{
	width: 100%;
}
#slide article img:hover{
	transform:scale(1.25);
}

/*contenido*/
#principal{
	margin-top: 2%;
}
#principal .contenido h2{
	font-size: 0.9rem;
}
#principal .contenido img{
	width: 100%;
}
#principal .contenido article{
	background-color: #1C1821;
	padding-bottom: 5%;
	font-size: 0.8rem;
}
#principal .contenido p{
	text-align: left;
	width: 95%;
	margin: 0 auto;
}
#principal .contenido article *{
	margin-bottom: 2%;
}
#principal .contenido article span{
	display: block;
	margin-bottom: 2%;
	font-size: 0.8rem;
	font-style: italic;
}
/*secundario*/
	#principal .buscar{
		width: 100%;
		background-color: #1C1821;
		border-radius: 5px;
	}
	#about{
		border-radius: none;
	}
	#principal .buscar input{
		color:white;
		background-color: #2D2735;
		height: 35px;
		width: 88%;
		border: none;
		border-radius: 5px;
		margin:6% 0% 6% 6%;
		padding-left:15px;
	
	}
	#principal .perfil{
		width: 100%;
		background-color: #1C1821;
		border-radius: none;
		margin-top: 3%;
		padding:2% 0%;
	}
	#principal .perfil *{
		margin-bottom: 3%;
	}
	#principal .perfil img{
		width: 100%;
	}
	#principal .perfil p{
		width: 80%;
		margin:0 auto;
		text-align: justify;
		font-size: 0.8rem;
	}
	#principal .perfil a{
		display: inline-block;
		border-radius:50%;
		width: 40px;
		height: 40px;
		padding:10px;
		margin: 2%;
		font-size: 18px;
		background-color: #2D2735;
		text-decoration: none;
		color:white;
	}
	#principal .perfil ul{
		margin-left: 8%;
	}
	#principal .th{
		margin-top: 50%;
		transform:translatey(-50%);
	}
	#principal .perfil a:hover{
		background-color: rgba(255,255,255,0.2);
	}
/*footer*/
	footer{
		padding:3% 0%;
		margin-top: 3%;
	}
/* Responsive */
@media screen and (min-width: 921px) and (max-width: 995px){
	body {
	font-size: 8px;
	}
	header img{
		width: 100%;
	}
	.menu a{
	padding: 10px 5px;

}
}
@media screen and (min-width: 921px){
	header #mostrar-nav{
	display: none;
}
}
@media screen and (max-width : 920px) {

	
	header{
		position: fixed;
		z-index: 300;
		width: 100%;
		top:0;
	}
	header img{
		width: 250px;
	}
	.fondo{

		margin-top:90px;
		padding-top: 8%;
		margin-bottom:8%;
	}
	nav{
	background-color: rgba(0,0,0,.9);
	box-sizing: border-box;
	padding-left: .25em;
	margin-top: 6em;
	position: fixed;	
	right:  -100%;
	top:0;
	z-index: 20;
	height: 100%;
	transition: all .3s;
	text-align: left;
width:100%;

}
#menu2 li{
	display: block;
}
#menu2{
		list-style: none;
		line-height: 42px;
		margin:2em auto;
		/*outline: 1px solid red;*/
		padding-left: 20px;
		width: 18em;
	}
#menu2 a{
	color:#ddd;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	width:80%;

}
#menu2 a:hover{
	
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	box-shadow: none;
}
#menu2 li{
	box-shadow: 3px 0 rgba(255, 255, 0,0.2)inset;
	padding-left: 2em;
	margin-bottom: 5px;
	/*outline: 1px solid green;*/
}

#menu2 li:hover{
	box-shadow: 15em 0 rgba(107, 69, 143,0.4)inset;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}


nav.mostrar{
	right:  0;
}
#mostrar-nav{
	display: table;
	position: absolute;
	top: 2em;
	right:2em;
	z-index: 30;
	cursor:pointer;
	color:white;
	padding:10px;
	border-radius: 50%;
}

#principal{
    margin-top: 5%;
}

}

@media screen and (max-width: 600px) {
	.fondo{
		margin-top: 90px;
		 padding-top: 8%;
    	margin-bottom: 8%;
	}
	.fmorado{
	background-color: #1C1821;
	width: 90%;
	padding: 3% 0% 3%;
	margin:0% auto 6%;
	
	}
	.fuera {
		display: none;
	}
	footer{
		font-size: 0.9rem;
		padding: 10% 0%;
		margin-top: 5%;
	}

}
